body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.logo span {
  color: #2e2f42;
}

.menu-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: #404bbf;
}

.address-menu a {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.address-head {
  font-style: normal;
}

.address-menu a:hover,
.address-menu a:focus,
.address-menu:active {
  color: #404bbf;
}

.main-scr {
  background-color: #2e2f42;
}

.main-scr h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: white;
  line-height: 1.07;
  text-align: center;
}

button {
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.advantages h2 {
  opacity: 0;
}

.advantages h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  line-height: 1.2;
}

.advantages p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

.our-team {
  text-align: center;
  background-color: #f4f4fd;
}

.person-card {
  background-color: #ffffff;
}

.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  line-height: 1.11;
}

.our-team h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  line-height: 1.2;
}

.our-team p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

.our-portfolio {
  text-align: center;
}

.our-portfolio h2 {
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 50px;
  line-height: 1.11;
}

.our-portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 10px;
  line-height: 1.2;
}

.our-portfolio p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

footer {
  background-color: #2e2f42;
}

footer .logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  font-weight: 700;
}

footer .logo span {
  color: #f4f4fd;
}

footer p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  line-height: 1.5;
}
